<center>
<div class="gameplay">

</div>


<div class="picture-holder">
  <div class='square-box'>
    <div class='square-content'><div><img class="img-responsive" src="/assets/grant.jpg" alt="" /></div></div>
  </div>

  <div class='imagesShow'>
    <div class='imgOverlay1'>
      <h1>Like</h1>
    </div>

  <div class='imgOverlay2'>
    <h1>Dislike</h1>
  </div>
</div>

<div class='score2'>
</div>
  </div>

<div class="matches">
  <h2>Your matches:</h2>
</div>
